<!DOCTYPE html>
html(lang="ja")
head
    meta(charset="UTF-8")
    title 
    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css")
    link(rel="stylesheet", href="css/style.css")
body

    app

    script.
        // electron-connectに接続
        require('electron-connect').client.create();
    script(src="js/bundle.js")